src/dertronics/dertronics/vendors/velleman/ProductServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://portal.velleman.eu/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://portal.velleman.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Velleman Product Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://portal.velleman.eu/">
      <s:element name="GetProductInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isoLang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetProductPrices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductPricesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductPricesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isoLang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductCategoriesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsByCategoryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewProductsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPopularProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetPopularProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPopularProductsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObsoleteProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObsoleteProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObsoleteProductsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComingSoonProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numDays" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComingSoonProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComingSoonProductsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByDivision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="divisionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByDivisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsByDivisionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requiredQty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductStockResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPromotions">
        <s:complexType />
      </s:element>
      <s:element name="GetPromotionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPromotionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByPromo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="promotionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByPromoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsByPromoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductPricesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductPrices" />
  </wsdl:message>
  <wsdl:message name="GetProductPricesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductPricesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductPricesAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductCategories" />
  </wsdl:message>
  <wsdl:message name="GetProductCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductCategoriesAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductsByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="GetProductsByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByCategoryAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetNewProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewProducts" />
  </wsdl:message>
  <wsdl:message name="GetNewProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetPopularProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPopularProducts" />
  </wsdl:message>
  <wsdl:message name="GetPopularProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPopularProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPopularProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetObsoleteProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetObsoleteProducts" />
  </wsdl:message>
  <wsdl:message name="GetObsoleteProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetObsoleteProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetObsoleteProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetComingSoonProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetComingSoonProducts" />
  </wsdl:message>
  <wsdl:message name="GetComingSoonProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetComingSoonProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetComingSoonProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductsByDivisionSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByDivision" />
  </wsdl:message>
  <wsdl:message name="GetProductsByDivisionSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByDivisionResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByDivisionAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductStock" />
  </wsdl:message>
  <wsdl:message name="GetProductStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductStockResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductStockAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetPromotionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPromotions" />
  </wsdl:message>
  <wsdl:message name="GetPromotionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPromotionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPromotionsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPromoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByPromo" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPromoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByPromoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPromoAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="ProductServiceSoap">
    <wsdl:operation name="GetProductInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves product details.</wsdl:documentation>
      <wsdl:input message="tns:GetProductInfoSoapIn" />
      <wsdl:output message="tns:GetProductInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPrices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves pricing information for a specific product.</wsdl:documentation>
      <wsdl:input message="tns:GetProductPricesSoapIn" />
      <wsdl:output message="tns:GetProductPricesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all product categories.</wsdl:documentation>
      <wsdl:input message="tns:GetProductCategoriesSoapIn" />
      <wsdl:output message="tns:GetProductCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all products for a specified category. Use GetProductCategories to obtain a list of available categories.</wsdl:documentation>
      <wsdl:input message="tns:GetProductsByCategorySoapIn" />
      <wsdl:output message="tns:GetProductsByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all new products within numDays days.</wsdl:documentation>
      <wsdl:input message="tns:GetNewProductsSoapIn" />
      <wsdl:output message="tns:GetNewProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPopularProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all popular products.</wsdl:documentation>
      <wsdl:input message="tns:GetPopularProductsSoapIn" />
      <wsdl:output message="tns:GetPopularProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObsoleteProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all obsolete products within numDays days.</wsdl:documentation>
      <wsdl:input message="tns:GetObsoleteProductsSoapIn" />
      <wsdl:output message="tns:GetObsoleteProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComingSoonProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all coming soon products within numDays days.</wsdl:documentation>
      <wsdl:input message="tns:GetComingSoonProductsSoapIn" />
      <wsdl:output message="tns:GetComingSoonProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all products.</wsdl:documentation>
      <wsdl:input message="tns:GetProductsSoapIn" />
      <wsdl:output message="tns:GetProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByDivision">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all products for a specific division (Perel, Velbus, ..).</wsdl:documentation>
      <wsdl:input message="tns:GetProductsByDivisionSoapIn" />
      <wsdl:output message="tns:GetProductsByDivisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStock">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all products.</wsdl:documentation>
      <wsdl:input message="tns:GetProductStockSoapIn" />
      <wsdl:output message="tns:GetProductStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPromotions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all products.</wsdl:documentation>
      <wsdl:input message="tns:GetPromotionsSoapIn" />
      <wsdl:output message="tns:GetPromotionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPromo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all products.</wsdl:documentation>
      <wsdl:input message="tns:GetProductsByPromoSoapIn" />
      <wsdl:output message="tns:GetProductsByPromoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceSoap" type="tns:ProductServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInfo">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPrices">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductPricesAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductCategoriesAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductsByCategoryAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewProducts">
      <soap:operation soapAction="https://portal.velleman.eu/GetNewProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetNewProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopularProducts">
      <soap:operation soapAction="https://portal.velleman.eu/GetPopularProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPopularProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObsoleteProducts">
      <soap:operation soapAction="https://portal.velleman.eu/GetObsoleteProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetObsoleteProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComingSoonProducts">
      <soap:operation soapAction="https://portal.velleman.eu/GetComingSoonProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetComingSoonProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="https://portal.velleman.eu/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByDivision">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductsByDivision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductsByDivisionAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStock">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductStockAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotions">
      <soap:operation soapAction="https://portal.velleman.eu/GetPromotions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPromotionsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPromo">
      <soap:operation soapAction="https://portal.velleman.eu/GetProductsByPromo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetProductsByPromoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductServiceSoap12" type="tns:ProductServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductInfo">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPrices">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductPrices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductPricesAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategories">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductCategoriesAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductsByCategoryAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewProducts">
      <soap12:operation soapAction="https://portal.velleman.eu/GetNewProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetNewProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopularProducts">
      <soap12:operation soapAction="https://portal.velleman.eu/GetPopularProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPopularProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObsoleteProducts">
      <soap12:operation soapAction="https://portal.velleman.eu/GetObsoleteProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetObsoleteProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComingSoonProducts">
      <soap12:operation soapAction="https://portal.velleman.eu/GetComingSoonProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetComingSoonProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByDivision">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductsByDivision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductsByDivisionAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStock">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductStockAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromotions">
      <soap12:operation soapAction="https://portal.velleman.eu/GetPromotions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPromotionsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPromo">
      <soap12:operation soapAction="https://portal.velleman.eu/GetProductsByPromo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetProductsByPromoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Velleman Product Service</wsdl:documentation>
    <wsdl:port name="ProductServiceSoap" binding="tns:ProductServiceSoap">
      <soap:address location="https://portal.velleman.eu/ServicePortal/WebServices/ProductServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductServiceSoap12" binding="tns:ProductServiceSoap12">
      <soap12:address location="https://portal.velleman.eu/ServicePortal/WebServices/ProductServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>